.modal-detail {
  min-width: 330px;
  max-height: 600px;

  display: flex;
  align-items: center;

  outline: none;

  border: none;
  border-radius: 1rem;

  position: relative;
  overflow: hidden;
}

.modal-detail::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.background-image {
  /* pokeball image */

  max-width: 200px;

  opacity: 0.1;

  color: #ffffff;

  position: absolute;

  top: -19px;
  right: -47px;
}

.btnOpenDetail {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;

  align-items: center;

  color: #ffffff;
  background-color: #6c79db;

  border: none;
  border-radius: 1rem;

  opacity: 0.9;

  padding: 0.25rem 0.5rem;
  margin: 0 auto;
  margin-top: 1rem;

  cursor: pointer;
  outline: none;
}

.modal-detail .container-info {
  height: 600px;
}

.modal-detail section {
  width: 100%;
  height: 100%;

  /* padding: 15px; */
}

.modal-detail header {
  display: flex;

  align-items: center;
}

.modal-detail header h1 {
  font-size: 1.35rem;
}

.modal-detail header span {
  font-size: 1.5rem;

  align-items: center;

  color: #000000;

  opacity: 0.6;
  filter: brightness(1.1);

  cursor: pointer;

  padding: 5px 5px;
}

.modal-detail .info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}

.modal-detail .info .info-number {
  rotate: 10deg;
}

.modal-detail .info h1 {
  text-transform: capitalize;

  color: #fff;

  font-size: 2rem;
  font-weight: bold;
}

.modal-detail .info span {
  color: #000;
  text-align: right;
  font-size: 1rem;
  opacity: 0.3;
}

.modal-detail .details {
  display: flex;
  justify-content: space-between;

  margin: 0 30px;
}

.modal-detail .typeDetails {
  filter: brightness(1.1);
}

.modal-detail .details .typeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  outline: none;
}

.modal-detail .details .typeDetails h3 {
  font-size: 0.825rem;
  border-radius: 20px;
  padding: 5px 10px;

  color: #fff;
}

.modal-detail .details img {
  width: auto;
  height: 190px;

  filter: drop-shadow(2px 2px 8px #222222);

  z-index: 1;
}

.modal-detail .about {
  height: 340px;

  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.9));

  padding: 5px 20px;
  list-style: none;
}

.modal-detail .about > h2 {
  font-size: 1.25rem;
  font-weight: 600;

  color: #4a4e57;

  margin-bottom: 10px;
}

.modal-detail .about .stats {
  margin-bottom: 20px;
}

.modal-detail .about .stats li {
  display: flex;

  align-items: center;

  gap: 0.625rem;
}

.modal-detail .about .stats li > h2 {
  width: 6.25rem;

  font-weight: 500;

  color: #1b1b1b;
}

.modal-detail .about .stats li > h3 {
  width: 2.5rem;

  font-weight: 500;

  color: #1b1b1b;
}

.info-abilities {
  display: flex;

  gap: 1rem;

  margin-bottom: 10px;
}

.info-abilities > h3 {
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 1rem;
  padding: 10px;
}

.progress-bar {
  width: 100%;
  max-width: 100%;
  height: 5px; /* Altura da barra de progresso */

  opacity: 0.8;
  background-color: #ffffff; /* Cor de fundo da barra de progresso */
  border-radius: 5px; /* Borda arredondada */
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.22);
}

.progress {
  max-width: 100%;
  height: 100%;
  background-color: #e44b4b; /* Cor da barra de progresso preenchida */
  border-radius: 5px; /* Borda arredondada */
  width: 0%; /* Inicialmente, a barra está vazia */
  transition: width 0.5s ease-in-out; /* Adiciona uma transição suave à largura */
}

.progress-other {
  max-width: 100%;
  height: 100%;
  background-color: #1cac8d;
  border-radius: 5px;
  width: 0%;
  transition: width 0.5s ease-in-out;
}
