.modal-detail {
  min-width: 330px;
  height: auto;
  max-height: 600px;

  display: flex;
  align-items: center;

  border: none;
  border-radius: 1rem;
}

.btnOpenDetail {
  font-size: 1rem;

  align-items: center;

  color: #242323;

  opacity: 0.5;
  cursor: pointer;
}

.modal-detail section {
  width: 100%;
  height: 100%;

  padding: 15px;
}

.modal-detail header {
  display: flex;

  align-items: center;
}

.modal-detail header h1 {
  font-size: 1.35rem;
}

.modal-detail header span {
  font-size: 1.5rem;

  align-items: center;

  color: #000000;

  opacity: 0.6;
  filter: brightness(1.1);

  cursor: pointer;
}

.modal-detail .info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 10px;
}

.modal-detail .info h1 {
  text-transform: capitalize;

  color: #fff;

  font-size: 2rem;
  font-weight: bold;
}

.modal-detail .info span {
  color: #000;
  text-align: right;
  font-size: 1rem;
  opacity: 0.3;
}

.modal-detail .details {
  display: flex;
  justify-content: space-between;

  padding: 30px;
}

.modal-detail .typeDetails {
  filter: brightness(1.1);
}

.modal-detail .details .typeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.modal-detail .details .typeDetails h3 {
  font-size: 0.825rem;
  border-radius: 20px;
  padding: 5px 10px;

  color: #fff;
}

.modal-detail .details img {
  width: auto;
  height: 110px;
}

.modal-detail .about {
  list-style: none;
  margin-bottom: 20px;
}

.modal-detail .about > h2 {
  font-size: 1.25rem;
  font-weight: 600;

  margin-bottom: 10px;
}

.modal-detail .about .stats {
  margin-bottom: 20px;
}

.modal-detail .about .stats li {
  display: flex;

  gap: 10px;
}
